
  .kndr_rd_slider {
  width: 1190px;
  margin: 0px;
}

.kndr_rd_slider_footer, {
  display: block;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  height:10px;
}

.kndr_rd_navmenu {
  padding-left: 70px;
  padding-right: 70px;
width:1190px;
}
.kndr_rd_slider_footer2{
  height:10px;
}
.kndr_rd_slider_main{
  float:left;
  width:1190px;
  height:410px;
  margin:0;
  margin-top:20px;
  padding:0;
}
.kndr_rd_slider_page {
  width: 1050px;
  height: 420px;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

.kndr_rd_slides {
  position: relative;
  width: 1030000px;
  height: 420px;
}

.kndr_rd_slide {
  float: left;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 1030px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.kndr_rd_left_slide {
  float: left;
  width: 400px;
  height: 400px;
  background-color: #5b7bc6;
  border-radius: 10px 0 0 10px;
  margin: 0px;
}

.kndr_rd_right_slide {
  float: left;
  width: 630px;
  height: 400px;
  margin: 0px;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
}

.kndr_rd_questword {
  margin-left: 20px;
  margin-top: 30px;
  padding: 0;
  font-family: intro, sans-serif;
  font-size: 28px;
  font-style: normal;
  text-transform: uppercase;
  color: #5b7bc6;
  margin-bottom: 0 px;
}

.kndr_rd_namequest {
  position:relative;
  padding-left: 10px;
  line-height: 50px;
  width: 95%;
  height: 50px;
  font-family: intro, sans-serif;
  font-size: 26px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0 25px 25px 0;
  background-color: #5b7bc6;
}

.kndr_rd_quest_dsk {
  padding: 10px;
  width: 560px;
  padding-left:20px;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  height: 250px;
}

.kndr_rd_cost {
  padding-left: 10px;
  line-height: 30px;
  width: 60%;
  height: 30px;
  font-family: intro, sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #fff;
  border-radius: 0 25px 25px 0;
  background-color: #5b7bc6;
}

.kndr_rd_cost_dsk {
  padding: 10px;
  padding-top:20px;
  padding-left:30px;
  height: 100px;
}

.kndr_rd_slider_nav_btn {
  float: left;
  top: 50;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-top: 200px;
  border-radius: 50%;
  background-color: #6184d5;
  border: 5px solid #afb4de;
  box-shadow: 0 0 20px -5px #6184d5;
  cursor:pointer;
}
.kndr_rd_slider_nav_btn img{
  padding:0;
  width:30px;
  heigth:30px;
  margin-top:5px;
  margin-left:5px;
}


.kndr_rd_slider_nav_btn:hover {
  background-color: #7295e6;
}

.kndr_rd_slider_nav_btn:active {
  background-color: #6184d5;
}

.kndr_rd_main_img_slide {
  width: 400px;
  height: 400px;
  margin: 0;
  display: block;
  background-size: cover;
  background-position: center, center;
  border-radius: 10px 0 0 10px;
}

.kndr_rd_main_small_slide,
.kndr_rd_small_galery {
  width: 400px;
  height: 200px;
  display: block;
  border-radius: 0 0 0 10px;
}

.kndr_rd_sg_btn {
  float: left;
  position: relative;
  top: 50;
  height: 20px;
  width: 20px;
  margin: 5px;
  margin-top: 80px;
  border-radius: 50%;
  background-color: #6184d5;
  border: 2px solid #afb4de;
  cursor:pointer;
  box-shadow: 0 0 20px -5px #6184d5
}

.kndr_rd_sg_btn:hover {
  background-color: #7295e6;
}

.kndr_rd_sg_btn:active {
  background-color: #6184d5;
}

.kndr_rd_sg_viewer {
  float: left;
  width: 330px;
  height: 160px;
  margin: 0;
  overflow: hidden;
}

.kndr_rd_sg_list {
  height: 200px;
  margin: 0;
  width: 10000px;
  position: relative;
}

.kndr_rd_sg_element {
  margin: 9px;
  width: 90px;
  height: 90px;
  margin-top: 50px;
  float: left;
  background-color: #fcf;
  background-size: cover;
  background-position: center, center;
}

.kndr_rd_sg_element_active {
  border: 3px solid #fff;
}

.kndr_rd_slider_panel {
  width: 60px;
  height: 580px;
}

.kndr_rd_navquest_btn {
  background-color: rgb(104, 141, 227);
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  width: 23.60%;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 20px;
  display: block;
  text-align: center;
  cursor: pointer;
  font-family: intro, sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  cursor:pointer;
}
.kndr_rd_navquest_btn_activ {
  background-color: rgb(154, 181, 247);
}
.kndr_rd_navquest_btn:hover{
  background-color: rgb(154, 181, 247);
}
.knd_rd_block_btns {
    font-family: intro;
    font-style: normal;
    font-size: 16px;
    color: #FFF;
    padding: 10px 20px;
    background-color: #F78D03;
    border: none;
   border-radius: 255px;
    width:250px;
  cursor:pointer;
  text-decoration:none;
  margin-left:365px;
  margin-top:0px;
}
.knd_rd_block_btns:hover {
background-color: #FFAD29;
}
.knd_rd_block_btns a{
  text-decoration:none;
  color:#fff;
}
.quest_age{
    position: absolute;
    margin: auto;
    right: 7px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    font-family: intro;
    font-size: 16px;
    line-height: 35px;
    width: 39px;
    height: 39px;
    text-align: center;
    top: 5px;
}

.kndr_rd_qg_main{
  position:relative;
  width:400px;
  height:400px;
  border-radius:10px 0 0 10px;
  background-color:#5b7bc6;
  overflow:hidden;
}
.knd_navbtn{
  position:absolute;
  width:25px;
  height:25px;

  z-index:3;
  cursor:pointer;
    border-radius: 50%;
  background-color: #6184d5;
  border: 2px solid #afb4de;
  cursor:pointer;
  box-shadow: 0 0 20px -5px #6184d5
}
.knd_navbtn:hover {
  background-color: #7295e6;
}

.knd_navbtn:active {
  background-color: #6184d5;
}

.knd_navbtn_l{
top:185px;
left:10px;
}
.knd_navbtn_r{
top:185px;
left:360px;
}
.kndr_rd_qg_slides{
  position:absolute;
  top:0px;
  left:0px;
  width:400px;
  height:400px;
}
.kndr_rd_qg_slide{
  position:absolute;
  top:0px;
  left:0px;
  width:400px;
  height:400px;
  z-index:1;
  opacity:0;
  transition: opacity 0.6s;
  }
  .kndr_rd_qg_slide_active{
    z-index:2;
    opacity:1;
  }
