@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrBold.otf);
}
@font-face {
    font-family: HelveticaNeueCyrMedium;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrMedium.otf);
}
@font-face {
    font-family: HelveticaNeueCyrRoman;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrRoman.otf);
}
.card-success{
  float:left;
  margin-left:6px;
  margin-right:6px;
  max-width:260px;
  position:relative;
  border-radius:12px;
  box-shadow:0 2px 6px rgba(0,0,0,.5);
  margin-bottom:5px;
  background-color:#4277bf;
  color:#fff;
  font-family:Helvetica;
}
.card-success img{
  width: 100%;
  border-radius:12px 12px 0 0;
}

.google-red{
    background-color:#ff5252
}
.google-red.fab:hover{
    background:#d50000;
    cursor: pointer
}
.fab,a.fab{
  display: inline-block;
  margin-left:70%;
  margin-top:-25px;
    border-radius:50%;
    box-shadow:0 2px 6px rgba(0,0,0,.2);
    color:#fff;
    height:50px;
    line-height:50px;
    overflow:hidden;
    text-align:center;
    width:50px;
    cursor: pointer
}
img.fab-video{
    margin-top: 13px;
    width: 24px;
    height: 24px;
    vertical-align: unset;
    cursor: pointer;
    border-radius: 0;
}
.expir_nsh_text{
  margin-top:0px;
  padding: 0 20px;
    line-height:100px;
  text-align:center;
        font-family:Roboto;
       font-size:16pt;
        min-height: 120px;
}
.expir_nsh_text:after{
  margin:0;
  display:block;
  height:1px;
  content: ""
}
   .expir_nsh_text>h2,.kndr_nsh_text_title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
       font-family:Roboto;
       font-size:16pt;
   } 
