@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrBold.otf);
}
@font-face {
    font-family: HelveticaNeueCyrMedium;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrMedium.otf);
}
@font-face {
    font-family: HelveticaNeueCyrRoman;
    src: url(http://viksuhor.github.io/Expir/font/HelveticaNeueCyrRoman.otf);
}